@font-face {font-family: 'DIN-Bold';
    src: url('https://files.cargocollective.com/100176/2D7CD4_0_0.eot');
    src: url('https://files.cargocollective.com/100176/2D7CD4_0_0.eot?#iefix') format('embedded-opentype'),
    url('https://files.cargocollective.com/100176/2D7CD4_0_0.woff2') format('woff2'),
    url('https://files.cargocollective.com/100176/2D7CD4_0_0.woff') format('woff'),
    url('https://files.cargocollective.com/100176/2D7CD4_0_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'DIN-UltraLight';
    src: url('https://files.cargocollective.com/100176/2D7CD4_1_0.eot');
    src: url('https://files.cargocollective.com/100176/2D7CD4_1_0.eot?#iefix') format('embedded-opentype'),
    url('https://files.cargocollective.com/100176/2D7CD4_1_0.woff2') format('woff2'),
    url('https://files.cargocollective.com/100176/2D7CD4_1_0.woff') format('woff'),
    url('https://files.cargocollective.com/100176/2D7CD4_1_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'DIN-Regular';
    src: url('https://files.cargocollective.com/100176/2D7CD4_2_0.eot');
    src: url('https://files.cargocollective.com/100176/2D7CD4_2_0.eot?#iefix') format('embedded-opentype'),
    url('https://files.cargocollective.com/100176/2D7CD4_2_0.woff2') format('woff2'),
    url('https://files.cargocollective.com/100176/2D7CD4_2_0.woff') format('woff'),
    url('https://files.cargocollective.com/100176/2D7CD4_2_0.ttf') format('truetype');}